@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
}

.bg-color {
  background-color: #093545;
}

.input-bg {
  background-color: #224957;
}

.card-bg {
  background-color: #092c39;
}

.primary {
  background-color: #2bd17e;
}

.card-bg {
  background-color: rgba(9, 44, 57, 1);
}
.card-bg:hover {
  background-color: rgba(8, 41, 53, 0.55);
}

.custom-checkbox {
  @apply appearance-none h-4 w-4 rounded-md primary;
}

.custom-checkbox:checked {
  @apply appearance-auto bg-green-500;
}
